In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv("movies.csv", index_col="movieid")

# Display the number of rows and columns of the data-frame

In [3]:
movies.shape

(3832, 2)

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3832 entries, 1672052 to 2593313
Data columns (total 2 columns):
title    3832 non-null object
year     3832 non-null int64
dtypes: int64(1), object(1)
memory usage: 89.8+ KB

In [5]:
movies

                                 title  year
movieid
1672052        'Breaker' Morant (1980)  1980
1672111   'Crocodile' Dundee II (1988)  1988
1672580      'Til There Was You (1997)  1997
1672716          'night, Mother (1986)  1986
1672946  ...And Justice for All (2014)  2014
...                                ...   ...
2591814                eXistenZ (1999)  1999
2592334          ¡Three Amigos! (1986)  1986
2592963       À nous la liberté (1931)  1931
2593112          Á köldum klaka (1995)  1995
2593313                  Átame! (1990)  1990

[3832 rows x 2 columns]

# Display the number of movies per year

In [6]:
movies["year"].value_counts()

1996    332
1995    326
1998    319
1997    311
1999    273
       ...
1909      1
1911      1
1913      1
2001      1
1898      1
Name: year, Length: 108, dtype: int64

# Display number of movies released per year

In [7]:
#Display number of movies released in 1990
movies_1990=movies[movies["year"]==1990]
movies_1990.shape[0]

69

In [8]:
#Display number of movies released in 1991
movies_1991=movies[movies["year"]==1991]
movies_1991.shape[0]

65

In [9]:
# Display number of movies released in 1992
movies_1992=movies[movies["year"]==1992]
movies_1992.shape[0]

96

In [10]:
# Display number of movies released in 1993

movies_1993=movies[movies["year"]==1993]
movies_1993.shape[0]

153

In [11]:
# Display number of movies released in 1994

movies_1994=movies[movies["year"]==1994]
movies_1994.shape[0]

240

In [12]:
# Display number of movies released in 1995

movies_1995=movies[movies["year"]==1995]
movies_1995.shape[0]

326

In [13]:
# Display number of movies released in 1996

movies_1996=movies[movies["year"]==1996]
movies_1996.shape[0]

332

In [14]:
# Display number of movies released in 1997

movies_1997=movies[movies["year"]==1997]
movies_1997.shape[0]

311

In [15]:
# Display number of movies released in 1998

movies_1998=movies[movies["year"]==1998]
movies_1998.shape[0]

319

In [16]:
# Display number of movies released in 1999

movies_1999=movies[movies["year"]==1999]
movies_1999.shape[0]

273

In [17]:
# Display number of movies released in 2000

movies_2000=movies[movies["year"]==2000]
movies_2000.shape[0]

144

## AVERAGE TIME OF MOVIES PER YEAR

In [22]:
# Average time of movies per year

running_times=pd.read_csv("runningtimes.csv", index_col="movieid")

In [23]:
running_times

               time      addition  time1
movieid
1672052         107           NaN    107
1672111         108           NaN    108
1672580         113           NaN    113
1672716          96           NaN     96
1673647         140           NaN    140
...             ...           ...    ...
2592963      USA:83  (re-release)     83
2592963      USA:97           NaN     97
2593112  Germany:85           NaN     85
2593112      USA:83           NaN     83
2593313         111           NaN    111

[5086 rows x 3 columns]

In [34]:
#inner join between movies and running times taking movieid as key
join_movies_time = pd.merge(movies, running_times, on = "movieid")

In [35]:
join_movies_time

,title,year,time,addition,time1
movieid,,,,,
1672052,'Breaker' Morant (1980),1980,107,NaN,107
1672111,'Crocodile' Dundee II (1988),1988,108,NaN,108
1672580,'Til There Was You (1997),1997,113,NaN,113
1672716,"'night, Mother (1986)",1986,96,NaN,96
1673647,1-2-3-4 ou Les collants noirs (1961),1961,140,NaN,140
...,...,...,...,...,...
2592963,À nous la liberté (1931),1931,USA:83,(re-release),83
2592963,À nous la liberté (1931),1931,USA:97,NaN,97
2593112,Á köldum klaka (1995),1995,Germany:85,NaN,85
2593112,Á köldum klaka (1995),1995,USA:83,NaN,83
2593313,Átame! (1990),1990,111,NaN,111

In [72]:
#Average time of movies on 1990
#this code selecs movies of 1990 from the join between movies running time and movies

movies_time_1990 = join_movies_time[join_movies_time["year"]==1990]

#find the average of the column time1
avg_movies_time_1990= movies_time_1990["time1"].mean()

In [73]:
avg_movies_time_1990

111.08602150537635

In [44]:
#Average time of movies on 1991
#this code selecs movies of 1991 from the join between movies running time and movies

movies_time_1991 = join_movies_time[join_movies_time["year"]==1991]

#find the average of the column time1
avg_movies_time_1991= movies_time_1991["time1"].mean()

In [45]:
avg_movies_time_1991

115.0

In [46]:
#Average time of movies on 1992
#this code selecs movies of 1992 from the join between movies running time and movies

movies_time_1992 = join_movies_time[join_movies_time["year"]==1992]

#find the average of the column time1
avg_movies_time_1992= movies_time_1992["time1"].mean()

In [47]:
avg_movies_time_1992

107.51079136690647

In [48]:
#Average time of movies on 1993
#this code selecs movies of 1993 from the join between movies running time and movies

movies_time_1993 = join_movies_time[join_movies_time["year"]==1993]

#find the average of the column time1
avg_movies_time_1993= movies_time_1993["time1"].mean()

In [49]:
avg_movies_time_1993

113.46859903381643

In [51]:
#Average time of movies on 1994
#this code selecs movies of 1994 from the join between movies running time and movies

movies_time_1994 = join_movies_time[join_movies_time["year"]==1994]

#find the average of the column time1
avg_movies_time_1994= movies_time_1994["time1"].mean()

In [52]:
avg_movies_time_1994

105.53939393939395

In [53]:
#Average time of movies on 1995
#this code selecs movies of 1994 from the join between movies running time and movies

movies_time_1995 = join_movies_time[join_movies_time["year"]==1995]

#find the average of the column time1
avg_movies_time_1995= movies_time_1995["time1"].mean()

In [54]:
avg_movies_time_1995

104.02905569007264

In [67]:
#Average time of movies on 1996
#this code selecs movies of 1996 from the join between movies running time and movies

movies_time_1996 = join_movies_time[join_movies_time["year"]==1996]

#find the average of the column time1
avg_movies_time_1996= movies_time_1996["time1"].mean()

In [56]:
avg_movies_time_1996

103.30424528301887

In [57]:
#Average time of movies on 1997
#this code selecs movies of 1997 from the join between movies running time and movies

movies_time_1997 = join_movies_time[join_movies_time["year"]==1997]

#find the average of the column time1
avg_movies_time_1997= movies_time_1997["time1"].mean()

In [58]:
avg_movies_time_1997

103.47184986595174

In [60]:
#Average time of movies on 1998
#this code selecs movies of 1998 from the join between movies running time and movies

movies_time_1998 = join_movies_time[join_movies_time["year"]==1998]

#find the average of the column time1
avg_movies_time_1998= movies_time_1998["time1"].mean()

In [61]:
avg_movies_time_1998

103.11084337349398

In [62]:
#Average time of movies on 1999
#this code selecs movies of 1999 from the join between movies running time and movies

movies_time_1999 = join_movies_time[join_movies_time["year"]==1999]

#find the average of the column time1
avg_movies_time_1999= movies_time_1999["time1"].mean()

In [63]:
avg_movies_time_1999

105.57492354740062

In [64]:
#Average time of movies on 2000
#this code selecs movies of 2000 from the join between movies running time and movies

movies_time_2000 = join_movies_time[join_movies_time["year"]==2000]

#find the average of the column time1
avg_movies_time_2000= movies_time_2000["time1"].mean()

In [65]:
avg_movies_time_2000

104.65217391304348

## AVERAGE RATINGS PER YEAR

In [68]:
# Importing ratings table

ratings=pd.read_csv("ratings.csv", index_col="movieid")

In [69]:
ratings

         rank  votes distribution
movieid
1672052   7.8   8111   0000001222
1672111   5.3  32183   0001221000
1672580   4.4   1894   0011110000
1672716   7.0   1255   0000001212
1673647   6.5    128   0000111211
...       ...    ...          ...
2591814   6.8  56563   0000012210
2592334   6.2  36951   0000122100
2592963   7.6   2294   0000002311
2593112   6.9   1231   0000012211
2593313   6.9  12087   0000013210

[3773 rows x 3 columns]

In [70]:
#inner join between movies and running times taking movieid as key
join_movies_ratings = pd.merge(movies, ratings, on = "movieid")

In [71]:
join_movies_ratings

                                        title  year  rank  votes distribution
movieid
1672052               'Breaker' Morant (1980)  1980   7.8   8111   0000001222
1672111          'Crocodile' Dundee II (1988)  1988   5.3  32183   0001221000
1672580             'Til There Was You (1997)  1997   4.4   1894   0011110000
1672716                 'night, Mother (1986)  1986   7.0   1255   0000001212
1673647  1-2-3-4 ou Les collants noirs (1961)  1961   6.5    128   0000111211
...                                       ...   ...   ...    ...          ...
2591814                       eXistenZ (1999)  1999   6.8  56563   0000012210
2592334                 ¡Three Amigos! (1986)  1986   6.2  36951   0000122100
2592963              À nous la liberté (1931)  1931   7.6   2294   0000002311
2593112                 Á köldum klaka (1995)  1995   6.9   1231   0000012211
2593313                         Átame! (1990)  1990   6.9  12087   0000013210

[3773 rows x 5 columns]

In [74]:
#Average ratings of movies on 1990
#this code selecs movies of 1990 from the join between ratings and movies

ratings_1990 = join_movies_ratings[join_movies_ratings["year"]==1990]

#find the average of the column rank
avg_movies_ratings_1990= ratings_1990["rank"].mean()

In [75]:
avg_movies_ratings_1990

6.314492753623191

In [76]:
#Average ratings of movies on 1991
#this code selecs movies of 1991 from the join between ratings and movies

ratings_1991 = join_movies_ratings[join_movies_ratings["year"]==1991]

#find the average of the column rank
avg_movies_ratings_1991= ratings_1991["rank"].mean()

In [77]:
avg_movies_ratings_1991

6.4875

In [78]:
#Average ratings of movies on 1992
#this code selecs movies of 1992 from the join between ratings and movies

ratings_1992 = join_movies_ratings[join_movies_ratings["year"]==1992]

#find the average of the column rank
avg_movies_ratings_1992= ratings_1992["rank"].mean()

In [79]:
avg_movies_ratings_1992

6.422105263157893

In [80]:
#Average ratings of movies on 1993
#this code selecs movies of 1993 from the join between ratings and movies

ratings_1993 = join_movies_ratings[join_movies_ratings["year"]==1993]

#find the average of the column rank
avg_movies_ratings_1993= ratings_1993["rank"].mean()

In [81]:
avg_movies_ratings_1993

6.484967320261439

In [82]:
#Average ratings of movies on 1994
#this code selecs movies of 1994 from the join between ratings and movies

ratings_1994 = join_movies_ratings[join_movies_ratings["year"]==1994]

#find the average of the column rank
avg_movies_ratings_1994= ratings_1994["rank"].mean()

In [84]:
avg_movies_ratings_1994

6.256666666666667

In [85]:
#Average ratings of movies on 1995
#this code selecs movies of 1995 from the join between ratings and movies

ratings_1995 = join_movies_ratings[join_movies_ratings["year"]==1995]

#find the average of the column rank
avg_movies_ratings_1995= ratings_1995["rank"].mean()

In [86]:
avg_movies_ratings_1995

6.208923076923077

In [87]:
#Average ratings of movies on 1996
#this code selecs movies of 1996 from the join between ratings and movies

ratings_1996 = join_movies_ratings[join_movies_ratings["year"]==1996]

#find the average of the column rank
avg_movies_ratings_1996= ratings_1996["rank"].mean()

In [88]:
avg_movies_ratings_1996

6.021450151057398

In [89]:
#Average ratings of movies on 1997
#this code selecs movies of 1997 from the join between ratings and movies

ratings_1997 = join_movies_ratings[join_movies_ratings["year"]==1997]

#find the average of the column rank
avg_movies_ratings_1997= ratings_1997["rank"].mean()

In [90]:
avg_movies_ratings_1997

6.113225806451617

In [91]:
#Average ratings of movies on 1998
#this code selecs movies of 1998 from the join between ratings and movies

ratings_1998 = join_movies_ratings[join_movies_ratings["year"]==1998]

#find the average of the column rank
avg_movies_ratings_1998= ratings_1998["rank"].mean()

In [92]:
avg_movies_ratings_1998

6.1698113207547145

In [93]:
#Average ratings of movies on 1999
#this code selecs movies of 1999 from the join between ratings and movies

ratings_1999 = join_movies_ratings[join_movies_ratings["year"]==1999]

#find the average of the column rank
avg_movies_ratings_1999= ratings_1999["rank"].mean()

In [94]:
avg_movies_ratings_1999

6.19926470588235

In [95]:
#Average ratings of movies on 2000
#this code selecs movies of 2000 from the join between ratings and movies

ratings_2000 = join_movies_ratings[join_movies_ratings["year"]==2000]

#find the average of the column rank
avg_movies_ratings_2000= ratings_2000["rank"].mean()

In [96]:
avg_movies_ratings_2000

5.923611111111109

## TOTAL NUMBER OF VOTES PER YEAR

In [97]:
ratings_1990

                                       title  year  rank   votes distribution
movieid
1711133                   Air America (1990)  1990   5.5   15959   0001221000
1717144  All the Vermeers in New York (1990)  1990   6.5     321   0000011111
1721750                American Dream (1990)  1990   7.7     517   0000001222
1734803                 Arachnophobia (1990)  1990   6.3   35357   0000122100
1739234                   Asfour Stah (1990)  1990   6.9     594   0000013200
...                                      ...   ...   ...     ...          ...
2510683                  Total Recall (1990)  1990   7.5  160970   0000012310
2518736                         Trust (1990)  1990   7.5    5129   0000001212
2581836          Yo, la peor de todas (1990)  1990   6.8     365   0000011211
2583701                 Young Guns II (1990)  1990   6.1   17465   0000122100
2593313                        Átame! (1990)  1990   6.9   12087   0000013210

[69 rows x 5 columns]

In [100]:
#sum movies votes of 1990
sum_votes_1990=ratings_1990["votes"].sum()
sum_votes_1990

2987619

In [101]:
#sum movies votes of 1991
sum_votes_1991=ratings_1991["votes"].sum()
sum_votes_1991

2413574

In [102]:
#sum movies votes of 1992
sum_votes_1992=ratings_1992["votes"].sum()
sum_votes_1992

3304026

In [103]:
#sum movies votes of 1993
sum_votes_1993=ratings_1993["votes"].sum()
sum_votes_1993

4505980

In [104]:
#sum movies votes of 1994
sum_votes_1994=ratings_1994["votes"].sum()
sum_votes_1994

6957173

In [105]:
#sum movies votes of 1995
sum_votes_1995=ratings_1995["votes"].sum()
sum_votes_1995

7127838

In [106]:
#sum movies votes of 1996
sum_votes_1996=ratings_1996["votes"].sum()
sum_votes_1996

5723996

In [107]:
#sum movies votes of 1997
sum_votes_1997=ratings_1997["votes"].sum()
sum_votes_1997

7827569

In [108]:
#sum movies votes of 1998
sum_votes_1998=ratings_1998["votes"].sum()
sum_votes_1998

8169054

In [109]:
#sum movies votes of 1999
sum_votes_1999=ratings_1999["votes"].sum()
sum_votes_1999

10451905

In [110]:
#sum movies votes of 2000
sum_votes_2000=ratings_2000["votes"].sum()
sum_votes_2000

5158504

## TOP FIVE RANKED MOVIES

In [112]:
join_movies_ratings

                                        title  year  rank  votes distribution
movieid
1672052               'Breaker' Morant (1980)  1980   7.8   8111   0000001222
1672111          'Crocodile' Dundee II (1988)  1988   5.3  32183   0001221000
1672580             'Til There Was You (1997)  1997   4.4   1894   0011110000
1672716                 'night, Mother (1986)  1986   7.0   1255   0000001212
1673647  1-2-3-4 ou Les collants noirs (1961)  1961   6.5    128   0000111211
...                                       ...   ...   ...    ...          ...
2591814                       eXistenZ (1999)  1999   6.8  56563   0000012210
2592334                 ¡Three Amigos! (1986)  1986   6.2  36951   0000122100
2592963              À nous la liberté (1931)  1931   7.6   2294   0000002311
2593112                 Á köldum klaka (1995)  1995   6.9   1231   0000012211
2593313                         Átame! (1990)  1990   6.9  12087   0000013210

[3773 rows x 5 columns]

In [119]:
# 5 top movies ordered by rank
join_movies_ratings.sort_values(by=["rank"], ascending=False).head(5)

,title,year,rank,votes,distribution
movieid,,,,,
2477653,The Shawshank Redemption (1994),1994,9.3,998823,0000000125
2437277,The Godfather (1972),1972,9.2,706695,0000000125
2024833,"Il buono, il brutto, il cattivo. (1966)",1966,9.0,301575,0000000124
2280997,Pulp Fiction (1994),1994,9.0,775943,0000000124
2437299,The Godfather: Part II (1974),1974,9.0,457100,0000000124

In [120]:
# 5 top movies ordered by votes
join_movies_ratings.sort_values(by=["votes"], ascending=False).head(5)

                                   title  year  rank   votes distribution
movieid
2477653  The Shawshank Redemption (1994)  1994   9.3  998823   0000000125
2280997              Pulp Fiction (1994)  1994   9.0  775943   0000000124
1936800                Fight Club (1999)  1999   8.9  759494   0000000124
2457464                The Matrix (1999)  1999   8.7  719107   0000000123
2437277             The Godfather (1972)  1972   9.2  706695   0000000125

## TOP 20 ACTION MOVIES

In [121]:
# Importing movies - directors 

movies_directors=pd.read_csv("movies2directors.csv", index_col="movieid")

In [122]:
movies_directors

         directorid      genre
movieid
1672052       22397      Drama
1672111       54934     Action
1672580      297253     Comedy
1672716      188926      Drama
1672946      188940     Action
...             ...        ...
2591814       57348     Sci-Fi
2592334      151963  Adventure
2592963       50126     Comedy
2593112       90204     Comedy
2593313        5442     Comedy

[4141 rows x 2 columns]

In [125]:
#inner join between JOIN MOVIES RATINGS and MOVIES DIRECTORS taking movieid as key
join_movies_ratings_directors = pd.merge(join_movies_ratings, movies_directors, on = "movieid")

In [126]:
join_movies_ratings_directors

,title,year,rank,votes,distribution,directorid,genre
movieid,,,,,,,
1672052,'Breaker' Morant (1980),1980,7.8,8111,0000001222,22397,Drama
1672111,'Crocodile' Dundee II (1988),1988,5.3,32183,0001221000,54934,Action
1672580,'Til There Was You (1997),1997,4.4,1894,0011110000,297253,Comedy
1672716,"'night, Mother (1986)",1986,7.0,1255,0000001212,188926,Drama
1673647,1-2-3-4 ou Les collants noirs (1961),1961,6.5,128,0000111211,302682,Drama
...,...,...,...,...,...,...,...
2591814,eXistenZ (1999),1999,6.8,56563,0000012210,57348,Sci-Fi
2592334,¡Three Amigos! (1986),1986,6.2,36951,0000122100,151963,Adventure
2592963,À nous la liberté (1931),1931,7.6,2294,0000002311,50126,Comedy
2593112,Á köldum klaka (1995),1995,6.9,1231,0000012211,90204,Comedy
2593313,Átame! (1990),1990,6.9,12087,0000013210,5442,Comedy